.footer {
    font-family: 'Montserrat', sans-serif;
    padding: 4rem 0;

    .footer-container {
        text-align: center;
        color: $gray1;

        .copyright {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 768px) {
        .footer-container {
            .copyright {
                font-size: 1rem;
            }
        }
    }
}